@keyframes glowAnimation {
  0%, 100% {filter: drop-shadow(0 0 50px #8A64D6)}
  50% {filter: drop-shadow(0 0 50px #5C3A92)}
}

.glow {
  animation: glowAnimation 5s infinite; /* Total duration including pause */
}

@font-face {
  font-family: 'ArcadeFont'; /* Use a custom name for your font */
  src: url('/fonts/ARCADECLASSIC.TTF') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
.arcadeStyle {
  font-family: 'ArcadeFont', sans-serif; /* Fallback to sans-serif if the custom font fails to load */
}