@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Ensuring full viewport height for the main tag */
.min-h-screen {
  min-height: 100vh;
}

/* Flex column with center alignment */
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Spacing for padding */
.p-24 {
  padding: 6rem; /* Adjust this value as needed */
}

/* Centering hero content */
.hero-content {
  text-align: center;
  max-width: 800px; /* Adjust based on your layout requirements */
  margin: 0 auto;
}

/* Styling for the heading */
.hero-content h2 {
  color: #fff; /* Your desired color */
  font-size: 2.5rem; /* Your desired size */
  font-weight: 600; /* Your desired weight */
  margin-top: 1rem; /* Space above the h2 */
}

/* Styling for the subheading */
.hero-content h3 {
  color: #aaa; /* Your desired color */
  font-size: 1.5rem; /* Your desired size */
  font-weight: 400; /* Your desired weight */
  margin-top: 0.5rem; /* Space above the h3 */
}

/* Button styles */
#register {
  background-color: #6e57e0; /* Your button background color */
  color: #fff; /* Your button text color */
  padding: 0.75rem 1.5rem; /* Y-axis padding, X-axis padding */
  font-size: 1rem; /* Your desired size */
  font-weight: 500; /* Your desired weight */
  border: none;
  border-radius: 0.5rem; /* Adjust as needed */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#register:hover {
  background-color: #5e46d0; /* Slightly darker on hover */
}