@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Anonymous-Pro';
  src: url('/fonts/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Anonymous-Pro-bold';
  src: url('/fonts/AnonymousPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {

    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    overflow-x: hidden;
}
main{
  font-family: 'Anonymous-Pro', sans-serif;
}
main b{
  font-family: 'Anonymous-Pro-bold';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
